input {
  /*border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;*/
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 16px;
}

form {
  display: flex;
  border-top: 1px solid #d3d3d3;
}

button {
  /*padding: 10px; */
  font-weight: 500;
  display: inline-block;
  color: white;
  background-color: orange;
  border: none;
}

.sendButton {
  font-size: 16px;
  flex: 3;
}

.sendButton:hover {
  background-color: darkorange;
}

button:hover {
  background-color: darkblue;
  cursor: pointer;
}
